.app {
  display: block;
  position: relative;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.purpleHilite {
  color: #663399;
}

label {
  font-weight: 400;
}

form {
  font-family: 'Open Sans';
  font-weight: 400;
}

p.tutorial {
  width: 600px;
  font-family: 'Open Sans';
}

label {
  font-family: 'Arial';
  font-weight: 'normal';
}

.sidebarContainer {
  display: block;
  position: relative;
  width: 180px;
}

.tableContainer {
  display: block;
  position: relative;
}

.featureContainer {
  display: block;
  position: relative;
  width: 180px;
}

ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  padding-left: 5px;
}

li {
  margin: 0px;
  padding: 0px;
}

.react-redux-grid-active,
.react-redux-grid-inactive {
  margin: 5px;
  border-radius: 5px;
  background-color: #49b8dc;
}

.react-redux-grid-active {
  color: white;
  background-color: #644581;
}

.gridH2 {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  color: #49b8dc;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  margin-top: 10px;
}

:focus {
  border: none;
  outline: none;
}
